*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
{
   padding: 5% 5% 5% 5%;
    display: grid;
    grid-template-columns: 8fr 2fr;
    
}
.row
{
    margin-left: 30px;
    display: flex;
    gap: 100px;
    margin-top: 10px;
}
.contenare
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;  
    width: 10vw;
    border: 1px solid black;
    background-color: rgba(169, 169, 169, 0.218);
    margin-bottom: 20px;
    font-weight: 900;
}
/* ................................box1............................... */
.box1
{
    
    width: 100%;
    display: flex;
    padding-bottom: 40px;
}
.text
{
    width: 50%;
}
h1
{
    font-size: 5vw;
    padding: 2vw 10vw;
}
.para
{
    font-size: 1vw;
    padding: 0 9vw;
}
.button1
{
    border: none;
    background-color: black;
    color: white;
    width: 9vw;
    padding: 1vw 1vw;
    margin-left: 8.8vw;
    margin-top: 2vw;
    border-radius: 2px;
}
.img1
{
    width: 50%;
    padding-top: 6vh;
    padding-left: 3vw;
}
/* ................................box2............................... */

.box2
{
    background-color: rgb(23, 28, 28);
    color: white;
    padding-bottom: 50px;
    margin-top: 40px;
}
.maindiv
{
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
}
.h21
{
    text-align: center;
    padding: 1vw 22vw;
    font-size: 25px;
    margin-top: 2vw;
}
.para2
{
    text-align: center;
    font-size: 15px;
    padding: 1px 15vw;
}
.btn1
{
    border: none;
    background-color: transparent;
    color: white;
    margin-left: 24vw;
    margin-top: 1.5vw;
    width: 12vw;
    height: 6vh;
    border: 1px solid white;
    border-radius: 3px;
    line-height: 20px;
}
/* ................................box3............................... */
.box3
{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
}
.box3img1 , .box3img2 , .box3img3
{
    /* border: 1px solid black; */
    width: 33.33%;
}
.img01 , .img02 , .img03
{
     margin-top: 23vh;
    margin-left: 3vw; 
}
.xline
{
    width: 5vw;
    height: 2px;
    background-color:  black;
    margin-left: 3vw; 
    margin-top: 10px;   
    transition: 1s ease;
    cursor: pointer;
}
.xline:hover
{
    width: 28.45vw;
    height: 2px;
    /* transition: 1s; */
}
.text3
{
    margin-left: 3vw;
    margin-top: 3vw;
}
.h3
{
    font-size: 4vw;
}
.para3
{
    margin-top: 1vw;
    font-size: 17px;
}
    /* ................................box4............................... */
    
    .box4
    {
        width: 100%;
        padding-bottom: 10vw;
    }
    .box4icon
    {
       display: inline-block;
      padding-top: 10vw;
       margin-left: 45vw;
    }
    .h4
    {
        text-align: center;
        font-size: 4vw;
        font-family:Georgia, 'Times New Roman', Times, serif ;
        margin-top: 10px;
    }
    .para4
    {
        text-align: center;
        margin-top: 1.6vw;
        font-weight: 900;
        font-size: 1.4vw;
    }
   

        /* ................................box5............................... */
        .box5
        {
            width: 100%;
            display: flex;
        }
        .box5img1
        {
            width: 41%;
        }
        .box5img1 img
        {
            height: 99vh;
            padding-left: 80px;
        }
        .box5img2
        {
            width: 59%;
        }
        .box5img2 img
        {
            height: 50vh;
            padding-left: 50px;
        }
        .box5text
        {
            display: flex;
        }
        .box5text .u
        {
            padding-left: 50px;
            font-size: 30px;
            padding-top: 20px;
           
        }
        .box5text .para .p1 
        {
            
            padding-top: 30px;
            font-size: 15px;
        }
        .box5text .para .p2
        {
            padding-top: 20px;
            font-size: 15px;
        }
        .box5text .para i
        {
            margin-top: 30px;
        }
        /* ................................box6............................... */
        .box6
        {
            width: 100%;
            color: white;
            display: flex;
            background-color: black;
            padding-bottom: 80px;
        }
        .box6text
        {
            width: 50%;
        }
        .box6text h1
        {
            font-size: 8vh;
            margin-top: 80px;
            
        }
        .box6span1 , .box6span2 
         {
            margin-top: 30px;
         }
        .box6span1 span
        {
            font-weight: 900;
            margin-left: 129px;
            margin-top: 50px;
        }
        .box6span1 p
        {
            font-weight: 300;
            margin-left: 129px;
            margin-top: 10px; 
            font-size: 12px;
        }
        .box6span2 span
        {
            font-weight: 900;
            margin-left: 129px;
            margin-top: 50px;
        }
        .box6span2 p
        {
            font-weight: 300;
            margin-left: 129px;
            margin-top: 10px; 
            font-size: 12px;
        }
        .box6img
        {
            width: 50%;
            margin-top: 100px;
        }
            /* ................................box7............................... */
            .box7
            {
                width: 100%;
                display: flex;
                /* height: 300px; */
                padding-bottom: 100px;
            }
            .box7text
            {
                width: 60%;
            }
            .box7text h1
            {
                font-size: 55px;
                padding: 40px 120px ;
                /* margin-left: 55px; */
            }
            .box7text .xline
            {
                width: 480px;
                height: 4px;
                margin-left: 100px
            }
            .box7text p
            {
                margin-left: 120px;
                margin-top: 10px;
                font-size: 13.6px;
            }
            .box7text span
            {
                margin-left: 30px;
                font-weight: 900;
                color: black;
                font-size: 20px;
            
            }
            .box7img
            {
                width: 40%;
                background-image: url(../image/box7img1.png);
                background-size: cover;
                background-repeat: no-repeat;
                width: 470px;
                height: 470px;
               margin-top: 50px;
               background-position: bottom;
            }
                /* ................................box8............................... */
                .box8
                {
                    width: 100%;  
                    padding-bottom: 90px; 
                }
                .box8 h1
                {
                    text-align: center;
                }
                .allcard
                {
                    display: flex;
                    margin-left: 270px;
                    gap: 30px;
                    position: relative;
                }
                .card-1
                {
                    width: 220px;
                    height: 260px;
                    border: 1px solid black;
                    border-radius: 10px;
                }
                .card-1 i
                {
                    margin-top: 50px;
                    margin-left: 75px;
                    font-size: 80px;
                }
                .card-1 p
                {
                    text-align: center;
                    margin-top: 20px;
                }
                .card-1 span
                {
                    text-align: center;
                    font-size: 11px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                }
                .card-2
                {
                    width: 220px;
                    height: 260px;
                    border: 1px solid black;
                    border-radius: 10px;
                }
                .card-2 i
                {
                    margin-top: 50px;
                    margin-left: 75px;
                    font-size: 80px;
                }
                .card-2 p
                {
                    text-align: center;
                    margin-top: 20px;
                }
                .card-2 span
                {
                    text-align: center;
                    font-size: 11px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                }
                .card-3
                {
                    width: 220px;
                    height: 260px;
                    border: 1px solid black;
                    border-radius: 10px;
                }
                .card-3 i
                {
                    margin-top: 50px;
                    margin-left: 75px;
                    font-size: 80px;
                }
                .card-3 p
                {
                    text-align: center;
                    margin-top: 20px;
                }
                .card-3 span
                {
                    text-align: center;
                    font-size: 11px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                }
                .leftarrow i
                {
                    position: absolute;
                    margin-top: 120px;
                    margin-left: -42px;
                    font-size: 40px;
                }
                .righatarrow i
                {
                    position: absolute;
                    margin-top: 122px;
                    margin-left: 8px;
                    font-size: 40px;
                }
                /* ................................box9............................... */
                .box9
                {
                    width: 100%;
                    display: flex;
                }
                .foram
                {
                    width: 50%;
                }
                .foram input 
                {
                    margin: 10px 150px;
                    font-size: 14px;
                    width: 300px;
                    line-height: 30px;
                    /* border: black; */
                }
                textarea
                {
                    margin: 10px 150px;
                    font-size: 14px;
                    line-height: 34px;
                }
                .box9img
                {
                    width: 50%;
                    background-image: url(../image/box9img1.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 450px;
                    height: 400px;
                    margin-top: 40px;
                    margin-left: 50px;
                }
                /* ................................box10............................... */
                .box10
                {
                    width: 100%;
                }
                .footer-1
                {
                    display: flex;
                    margin-left: 100px;
                    margin-top: 50px;
                    gap: 100px;
                }
                .footer-1 a
                {
                    text-decoration: none;
                    color: black;
                }
                .line-1 h2
                {
                    font-size: 41px;
                }
                .footer-1 p
                {
                    padding: 10px;
                    font-size: 20px;
                }
                .lastline p
                {
                    text-align: center;
                    margin-top: 25px;
                    font-size: 20px;
                }